<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            overflow: none;
            background: #dd4646;
        }
        .container{
            height: 100vh;
            width: 100vw;
            
        }
        .header{
            width: 100vw;
            height: 10vh;
            background: #f4ebeb;
            border: 1px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2vh;
            margin: 1vh;
            text-decoration: aliceblue;
        }
        #list{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1vh;
            font-weight: 800;
            text-shadow: 0cqh;
            
        }
    </style>


</head>
<body>
    <div class="container">
        <div class="header">
            <h1 id="logo">Bhagwan Singh</h1>
            <ul id="list1">
                <li>Home</li>
                <li>Register</li>
                <li>Login</li>
            </ul>

        </div>
        <div class="content">

        
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>